@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

body {
    height: 100vh;
    font-family: 'Saira Semi Condensed', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgba(0, 0, 5, 0.8);
    /*background: linear-gradient(to right, rgb(58, 58, 70), rgb(20, 20, 23));*/
}

hr {
    margin: 16px;
    border-color: rgba(255, 255, 255, 0.2);
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.tempo-readout {
    display: inline;
}