.drum--active {
    border-color: white;

    .drum__name {
        color: green;
        background: white;
        text-shadow: 0 0 4px green;
    }
}

.drum__controls {
    display: flex;
    flex-direction: column;

    margin: 0 16px;
}

.drum__slider-wrapper {
    margin: 16px 0;
}

.drum__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.drum__play-btn {
    height: 24px;

    margin: 8px 0;

    border-radius: 0;
    border: none;
    background: white;
}

.drum__select-btn {
    box-sizing: content-box;
    height: 24px;
    margin: 8px 0;

    -webkit-appearance: none;
    background: none;
    border: rgba(0,87,101,1) solid 1px;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0,87,101,0.6);

    outline: none;
    cursor: pointer;
}

.drum__select-btn:active {
    box-shadow: 0 0 black;
    transform: translate(2px, 2px);
}