.sequencer {
    display: flex;
}

.sequencer__controls {
    width: 96px;

    display: flex;
    justify-content: center;
}

.sequencer__start-btn {
    box-sizing: content-box;
    width: 40px;
    height: 100%;

    -webkit-appearance: none;
    background: rgb(113,194,0);
    background: radial-gradient(ellipse, rgba(113,194,0,1) 0%, rgba(1,111,27,1) 100%);
    border: none;
    border-radius: 4px;

    box-shadow: 2px 2px rgba(1,111,27, 0.6);

    font-family: 'Saira Semi Condensed', sans-serif;
    color: rgb(0, 80, 0);
    cursor: pointer;
}

.sequencer__start-btn:active,
.start-btn-active {
    border: none;
    box-shadow: none;
    transform: translate(2px, 2px);
}

.sequencer__start-btn--playing {
    /*box-shadow: 0 0 24px green;*/
}

.sequencer__pad-list {
    list-style: none;
    padding: 0;
    margin: 0;

    flex-grow: 1;

    display: flex;
    justify-content: space-evenly;
}