ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
}

.pad {
    cursor: pointer;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad__num {
    margin: 8px 0;
}

.pad__indicator {
    height: 8px;
    width: 8px;

    border-radius: 100%;
    border: 1px solid white;

    /* background: green; */
}

.pad__indicator--playing {
    background: yellow;
    box-shadow: 0 0 16px yellow;
}

.pad__btn {
    width: 32px;
    height: 32px;

    margin: 16px 0;

    border: 1px solid white;
    border-radius: 4px;
}

.pad__btn--will-play {
    background: white;
}